.block {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  text-align: center;
  margin-right: 5%;
  width: 45%;
}
.company {
  float: left;
}

.employee {
  float: right;
}

.table-left table {
  width: 100%;
}
.table-right table {
  width: 100%;
}
